@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Inter:wght@400;500;600&display=swap');

:root {
  --ion-background-color: #0B0E11;
  --ion-text-color: #EAEAEA;

  --color-primary: #5a5a5a;
  --color-secondary: #9A4DFF;
  --color-surface: #1A1F24;
  --color-text-secondary: #B0B3B8;
  --color-danger: #FF5252;
  --color-success: #4CAF50;
}

[data-theme='light'] {
  --ion-background-color: #F7F9FC;
  --ion-text-color: #1A1A1A;
  --color-surface: #FFFFFF;
  --color-primary: #5a5a5a;
  --color-secondary: #7B3FFF;
}

body {
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
  font-family: 'Inter', sans-serif !important;
}

ion-content {
  --background: none;
  background: url('assets/bg-caleuche.jpg') no-repeat center center / cover;
  color: #fff;
}

p, a, span, div, ion-text, ion-label{
  font-family: 'Cinzel', serif !important;
  font-weight: 400;
  color: var(--ion-text-color) !important;
}

ion-note {
  display: block;
  font-size: 12px;
  margin-top: 8px;
  padding: 6px 8px;
  border-radius: 4px;
  font-family: 'Cinzel', serif !important;
  font-weight: 500;
  background-color: rgba(255, 82, 82, 0.1);
  border-left: 3px solid #FF5252;
}

ion-note[color="danger"] {
  color: #FF5252 !important;
  background-color: rgba(255, 82, 82, 0.15);
}

ion-note[color="success"] {
  color: #4CAF50 !important;
  background-color: rgba(76, 175, 80, 0.15);
  border-left-color: #4CAF50;
}

ion-note[color="warning"] {
  color: #FFA500 !important;
  background-color: rgba(255, 165, 0, 0.15);
  border-left-color: #FFA500;
}


.custom-toast {
  background: transparent !important;
}

.custom-toast::part(base) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  border-radius: 8px;
  background-color: #505050 !important;
  opacity: 1 !important;
  padding: 8px 12px !important;
  max-width: 92vw;
  width: auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5) !important;
}

.custom-toast::part(container),
.custom-toast::part(toast) {
  background-color: #505050 !important;
  opacity: 1 !important;
}

.custom-toast ion-label {
  font-family: 'Cinzel', serif !important;
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  color: white !important;
}

.custom-toast ion-button {
  font-size: 18px;
  padding: 6px 8px;
  color: white !important;
}

.custom-toast[color="danger"]::part(base) {
  border-left: 4px solid #FF5252;
  background-color: #505050 !important;
}

.custom-toast[color="success"]::part(base) {
  border-left: 4px solid #4CAF50;
  background-color: #505050 !important;
}

.custom-toast[color="warning"]::part(base) {
  border-left: 4px solid #FFA500;
  background-color: #505050 !important;
}